.monitor {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.monitor__screen {
  width: 100%;
  flex: 1;

  border: 8px solid #777777;
  border-bottom-width: 16px;
  border-radius: 8px;
  box-sizing: border-box;

  background:
    radial-gradient(circle at top left, rgba(52, 121, 211, 0.575), transparent 60%),
    radial-gradient(circle at bottom right, rgba(20, 64, 184, 0.432), transparent 70%),
    linear-gradient(135deg, #f7fbf7 0%, #edf7f0 48%, #dfeee6 100%);
  box-shadow:
  0 10px 30px rgba(0, 0, 0, 0.25),
  inset 0 0 0 2px rgba(255, 255, 255, 0.08);
}

.monitor__stand {
  width: 120px;
  height: 16px;
  flex-shrink: 0;
  background: #7c7c7c;
}
