.apps-section {
    padding: 20px;
    display: flex;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 10px;
}

.extra-apps-section {
    padding: 20px;
    display: flex;
    gap: 12px;
}

.apps-section,
.extra-apps-section {
  flex-shrink: 0;
}

.app-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-icon button {
    padding: 5px;
    aspect-ratio: 1 / 1;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 24px 70px rgba(18, 55, 42, 0.411);

    cursor: pointer;
}

.app-icon button:hover {
    
    transform: scale(1.15); 

}

.app-icon i {
    color: white;
    font-size: 30px;
}

.app-icon span {
    color: white;
    font-size: 15px;
    margin-top: 3px;

}

.profile {
    background-color: rgba(234, 81, 81, 0.858);
}

.journey {
    background-color: rgba(90, 90, 207, 0.637);
}


.tools {
    background-color: rgba(94, 207, 90, 0.758);
}

.projects {
    background-color: rgb(172, 56, 172);
}

.contact {
    background-color: rgba(223, 223, 77, 0.826);
}

.minigame {
    background-color: rgba(254, 40, 201, 0.769);
}

.lab {
    background-color: rgba(231, 139, 53, 0.856);
}




