.apps-section {
    padding: 25px 25px 20px 25px;
    display: flex;
    gap: 45px;
    background-color: rgba(253, 252, 252, 0.091);
    border-radius: 10px;
}

.extra-apps-section {
    padding: 20px;
    display: flex;
    gap: 30px;
}

.apps-section,
.extra-apps-section {
  flex-shrink: 0;
}

.app-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-icon button {
    padding: 5px;
    aspect-ratio: 1 / 1;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 24px 70px rgba(18, 55, 42, 0.411);

    cursor: pointer;
}

.app-icon button:hover {
    
    transform: scale(1.15); 

}

.app-icon i {
    color: white;
    font-size: 45px;
}

.app-icon span {
    color: white;
    font-size: 15px;
    margin-top: 3px;

}

.main-button {
    background-color: rgba(254, 252, 252, 0.299);
}

.minigame {
    background-color: rgba(254, 40, 201, 0.769);
}

.lab {
    background-color: rgba(231, 139, 53, 0.856);
}




